﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Automobile</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Automobile - MB</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-2" style="float:right">

                        @if (@httpContextAccessor.HttpContext.Session.GetString("IsLoggedInUser") != null)
                        {
                            @if (@httpContextAccessor.HttpContext.Session.GetString("IsLoggedInUser") == "true")
                            {
                                <li class="nav-item">
                                    <label id="lbluser">Welcome @httpContextAccessor.HttpContext.Session.GetString("username")</label>
                                    &nbsp;&nbsp;
                                </li>
                                <li>
                                    <a id="a_logout" href="\User\Logout"> Logout</a>
                                </li>

                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Login/Sign Up</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav flex-grow-1">

                        @if (@httpContextAccessor.HttpContext.Session.GetString("IsLoggedInUser") != null)
                        {
                            if (@httpContextAccessor.HttpContext.Session.GetString("IsLoggedInUser") == "true")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Product"
                                       asp-action="ProductDetails">Products</a>
                                </li>
                            }
                        }

                    </ul>


                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <br />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Automobile - MB Mobility - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
