﻿@model AutomobileWebApp.Models.ProductViewModel
@{

    ViewData["Title"] = "Product Details Page";

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div class="row justify-content-md-center">
    <div class="col-md-12">
        <div class="card">
            @using (Html.BeginForm("SearchProduct", "Product", FormMethod.Post, new { id = "searchForm" }))
            {
                <div class="card-header">
                    Search Criteria
                </div>
                <div class="card-body">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8" style="float:left">
                                <label id="lbl_search">Search Product</label>
                                @Html.TextBoxFor(model => model.ProductAttribute, new { @class = "form-control",
                               placeholder = "Search for product attributes like Manual, Automatic, Red, SixteenWheeler etc.."
                           })
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="float:right">
                        <input type="button" name="SearchProduct" id="btnSearchProduct" class="btn btn-primary"
                               value="Search Product" />
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="col-md-12">
        <table class="table table-striped table-bordered " id="datatable">
            <tr class="thead">
                <th>SN.</th>
                <th>Product Name</th>
                <th>Product Type</th>
                <th>Product Details </th>
            </tr>
            <tr>
                <td colspan="4">No Record found!</td>
            </tr>
        </table>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">

    $("#btnSearchProduct").click(function () {       
        var data = $("#searchForm").serialize();
        var counter = 0;
        $.ajax({
            type: 'POST',
            url: '/Product/SearchProduct',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: data,
            success: function (result) {
                console.log(result);
                if (result.length > 0) {
                    $('#datatable tr').not('.thead').remove();
                    $.each(result, function (key, value) {
                        counter = counter + 1;
                        var html = '<tr>' +
                            '<td>' + counter + '</td>' +
                            '<td>' + value.productName + '</td>' +
                            '<td>' + value.productType + '</td>' +
                            '<td>' + value.vehicleAttributes + '</td>' +
                            '</tr>';
                        $('#datatable tr').last().after(html);
                    });
                }
               
            },
            error: function () {
                alert('Some error occured while search.');

            }
        })
    });
</script>
