﻿@model AutomobileWebApp.Models.LoginViewModel


@{
    ViewData["Title"] = "Login";
}

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Sign In
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Login", "User", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, "", new { @class = "form-control", @placeholder = "Username" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "badge badge-danger" })
                        @if (ViewBag.Message != null)
                        {
                            <span class="badge badge-danger">@ViewBag.Message</span>
                        }
                    </div>

                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-primary" value="Login" />
                    </div>
                    <div class="form-group">
                        <label>Not registered? </label>@Html.ActionLink("Create an Account", "Register")
                    </div>
                }
            </div>
        </div>
    </div>
</div>
